{% extends "layout_logged_in.html" %}
{% block page_title %}Account{% endblock %}
{% block content %}
    <h3>Personal Details</h3>
    <form action="{{ url_for('Customer.update_details') }}" method="POST">
        <ul class="list-group">
            <li class="list-group-item">CPR Number: {{ customer.CPR_number }}</li>
            <li class="list-group-item">
                Address: <input type="text" name="address" value="{{ customer.address }}" class="form-control">
            </li>
            <li class="list-group-item">
                Phone Number: <input type="text" name="phone_number" value="{{ customer.phone_number }}" class="form-control">
            </li>
            <li class="list-group-item">
                Email: <input type="email" name="email" value="{{ customer.email }}" class="form-control">
            </li>
            <li class="list-group-item">Account Balance (USD): {{ customer.balance }}</li>
        </ul>
        <button type="submit" class="btn btn-primary mt-3">Update Details</button>
    </form>

{% endblock %}
