{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h2>Insurance Claims</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Claim ID</th>
                    <th>Policy Number</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for claim in claims %}
                    <tr>
                        <td>{{ claim.claim_id }}</td>
                        <td>{{ claim[1] }}</td>
                        <td>{{ claim[5] }}</td>
                        <td>{{ claim[3] }}</td>
                        <td>{{ claim[2] }}</td>
                        <td>{{ claim[4] }}</td>
                        <td>
                            {% if claim.status == 'Pending' %}
                                <a href="{{ url_for('Employee.process_claim', claim_id=claim.claim_id, status=Approved) }}">Process</a>
                            {% else %}
                                Processed
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}