{% extends "layout_logged_in.html" %}
{% block page_title %}Claims{% endblock %}
{% block content %}
    <h1>Submit Claim</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.amount.label(class="form-control-label") }}
            {{ form.amount(class="form-control form-control-lg") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>Your Claims</h2>
    {% if claims %}
        <table class="table">
            <thead>
                <tr>
                    <th>Policy Number</th>
                    <th>Description</th>
                    <th>Claim Amount</th>
                    <th>Claim Date</th>
                    <th>Claim Status</th>
                </tr>
            </thead>
            <tbody>
                {% for claim in claims %}
                    <tr>
                        <td>{{ claim[1] }}</td>
                        <td>{{ claim[5] }}</td>
                        <td>{{ claim[3] }}</td>
                        <td>{{ claim[2] }}</td>
                        <td>{{ claim[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No claims found.</p>
    {% endif %}
{% endblock %}
